@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}